extends layout

block content
    header.w3-container.w3-center.w3-2021-amethyst-orchid
        h1
          b To do list
    main.w3-center 
        .w3-container.w3-center
            h3.w3-margin-top(style='color:rgb(130, 68, 164)')
                b Edit Task
            form.w3-container.w3-center.w3-margin(method='POST')
                input(type='hidden' name='id' value=task.id)
                label
                  p.w3-2021-amethyst-orchid.w3-center.w3-round
                    b Task Description
                input.w3-input.w3-border.w3-margin-bottom.w3-center.w3-round(type='text' name='what' value=task.what)
                label
                  p.w3-2021-amethyst-orchid.w3-round
                    b Who is responsible
                select.w3-select.w3-border.w3-round(name='who' value=task.who)
                  option.w3-center(value='' disabled='' selected='') Choose person
                  each user in users
                    option.w3-center #{user.name}
                label
                    p.w3-2021-amethyst-orchid.w3-round
                      b Due date
                input.w3-input.w3-border.w3-round.w3-center(type='date' name='dueDate' value=task.dueDate)
                button.w3-btn.w3-round.w3-2021-amethyst-orchid.w3-margin-top(type='submit') Edit Task
    footer.w3-container.w3-center.w3-2021-amethyst-orchid.w3-margin-top
      h5 Created by 
        b Millena Freitas

